<AuthorizeView>
    <Authorized Context="authState">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark px-3">
            <a class="navbar-brand" href="">Pactum</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Витрина</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="workbench">Рабочий стол</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="prompts">Промпты</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="settings">Настройки</NavLink>
                    </li>
                </ul>
                <span class="navbar-text me-3">@authState.User.Identity?.Name</span>
                <a class="btn btn-outline-light btn-sm" href="/api/auth/logout">Выйти</a>
            </div>
        </nav>
    </Authorized>
</AuthorizeView>
